<h1>Áreas</h1>

<div>
  <button mat-button routerLink="/areas/crear">Nuevo</button>
</div>

<div>
  <table
    #table
    mat-table
    [dataSource]="areas"
    class="mat-elevation-z3 tabla-areas"
  >
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let area" align="start">
        {{ area.nombre }}
      </td>
    </ng-container>

    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef>Estado</th>
      <td mat-cell *matCellDef="let area" align="start">
        <mat-chip-list>
          <mat-chip
            *ngIf="area.estado"
            color="primary"
            selected=""
            matTooltip="Desactivar"
            (click)="desactivar(area.idArea)"
            >Activo</mat-chip
          >
          <mat-chip
            *ngIf="!area.estado"
            color="warn"
            matTooltip="Activar"
            (click)="activar(area.idArea)"
            selected=""
            >Desactivado</mat-chip
          >
        </mat-chip-list>
      </td>
    </ng-container>
    <ng-container matColumnDef="opciones">
      <th mat-header-cell *matHeaderCellDef>Opciones</th>
      <td mat-cell *matCellDef="let area">
        <a
          mat-icon-button
          routerLink="/areas/editar/{{ area.idArea }}"
          matTooltip="Editar"
        >
          <mat-icon>edit</mat-icon>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnasAMostrar; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: columnasAMostrar"></tr>
  </table>
  <mat-paginator
    class="mat-elevation-z8"
    [pageSizeOptions]="[5, 10, 15, 20, 50]"
    showFirstLastButtons
    [length]="cantidadTotalRegistros"
    [pageSize]="cantidadRegistrosAMostrar"
    (page)="actualizarPaginacion($event)"
  >
  </mat-paginator>
</div>
