.space {
  flex: 1 1 auto;
}

mat-toolbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: black;
  color: white;
  /* Para que no tenga problemas y se mantenga encima de
	otros elementos */
  z-index: 1000;
}
a:hover {
  color: gainsboro;
}

a {
  text-decoration: none;
}
