<h1>BAQS</h1>

<button routerLink="/baqs/crear" mat-flat-button>Nuevo</button>

<div>
  <table
    #table
    mat-table
    [dataSource]="baqs"
    class="mat-elevation-z3 tabla-baqs"
  >
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let baq" align="start">
        <span
          ><strong>{{ baq.nombre }}</strong></span
        >
      </td>
    </ng-container>

    <ng-container matColumnDef="url">
      <th mat-header-cell *matHeaderCellDef>URL</th>
      <td mat-cell *matCellDef="let baq" align="start">
        <a [href]="baq._url" target="_blank">{{ baq._url }}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef>Última actualización</th>
      <td mat-cell *matCellDef="let baq" align="start">
        {{ baq.fecha | date: "dd/MM/yyyy h:mm:ss a" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="nombreArea">
      <th mat-header-cell *matHeaderCellDef>Área</th>
      <td mat-cell *matCellDef="let baq" align="start">
        {{ baq.nombreArea }}
      </td>
    </ng-container>

    <!-- <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef>Estado</th>
      <td mat-cell *matCellDef="let baq" align="start">
        <mat-chip-list>
          <mat-chip *ngIf="baq.estado" color="primary" selected=""
            >Activo</mat-chip
          >
          <mat-chip *ngIf="!baq.estado" color="warn" selected
            >Desactivado</mat-chip
          >
        </mat-chip-list>
      </td>
    </ng-container> -->
    <ng-container matColumnDef="opciones">
      <th mat-header-cell *matHeaderCellDef>Opciones</th>
      <td mat-cell *matCellDef="let baq">
        <a mat-icon-button matTooltip="Ver y Editar">
          <mat-icon>edit</mat-icon>
        </a>
        <a
          mat-icon-button
          matTooltip="Eliminar"
          (click)="eliminar(baq.idCabecera)"
        >
          <mat-icon>delete</mat-icon>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnasAMostrar; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: columnasAMostrar"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="8" style="color: red">
        Por el momento, no tienes ninguna tabla creada.
      </td>
    </tr>
  </table>
  <mat-paginator
    class="mat-elevation-z8"
    [pageSizeOptions]="[5, 10, 15, 20, 50]"
    showFirstLastButtons
    [length]="cantidadTotalRegistros"
    [pageSize]="cantidadRegistrosAMostrar"
    (page)="actualizarPaginacion($event)"
  >
  </mat-paginator>
</div>
