<app-spinner *ngIf="isLoading"></app-spinner>
<div class="container">
  <form [formGroup]="form">
    <div class="login-container">
      <img
        src="./assets/images/logoElkay.png"
        alt=""
        style="width: 4rem; margin-top: 3rem"
      />
      <p style="font-size: x-large"><strong>Login</strong></p>

      <mat-form-field appearance="outline">
        <mat-label>User</mat-label>
        <input matInput formControlName="user" />
        <mat-error>Debe ingresar un usuario.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          formControlName="password"
          [type]="hide ? 'password' : 'text'"
        />
        <button mat-icon-button matSuffix (click)="hide = !hide">
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-error>Debe agregar un password.</mat-error>
      </mat-form-field>
      <app-mostrar-errores [errores]="errores"></app-mostrar-errores>
      <div class="button-login">
        <button mat-flat-button (click)="login()" [disabled]="form.invalid">
          Iniciar Sesión
        </button>
      </div>
    </div>
  </form>
</div>
