.first-field {
  margin-top: 3rem;
}

.first-field mat-form-field {
  margin-right: 1rem;
}

.second-field mat-form-field {
  margin-right: 1rem;
}
.second-field button {
  margin-left: 1rem;
}

.tabla-columnas {
  width: 80%;
}

.buttons {
  display: flex;
  margin-top: 3rem;
}

.buttons button {
  background: black;
  color: white;
  width: 20%;
  margin-right: 1rem;
}

.buttons button[disabled] {
  background: gray;
}

a {
  text-decoration: none;
  width: 15%;
}
